.home-master {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 1px solid #bbb;
  border-top: none;
  border-radius: 3px; }

.carousel {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px; }

.panels {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.events {
  width: 60%;
  height: 250px;
  margin: 0 10px 0 20px;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px; }

.new {
  width: 40%;
  height: 250px;
  margin: 0 20px 0 10px;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px; }

.old-news {
  width: 95%;
  height: 200px;
  margin: 10px 20px;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px; }

.construction {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 100; }

.construction-content {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  width: 300px;
  height: 200px;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #b53030;
  border: 3px solid #722323;
  border-radius: 5px; }

.construction span {
  float: right;
  color: #fff;
  cursor: pointer; }
