@import 'default-styles';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-master {
  @include border;
  background-color: $color-body;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
}
//////////////////////////////* CAROUSEL *////////////////////////////////
.carousel {
  @include border;
  background-color: $color-dark-backing;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;

  span {
    @include border-font-carousel;
    @include font($font-carousel);
    color: $color-font-inverted;
    background-color: $color-item-hover;
    padding: 10px;
    bottom: 0;
    position: absolute;
    text-align: center;
  }
  img {
    width: 100%;
    height: 300px;
  }
}
.carousel-text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
//////////////////////////////////////////////////////////////////////////
.panels {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.events {
  @include border;
  width: 60%;
  height: 250px;
  margin: 0 10px 0 20px;
  background-color: $color-dark-backing;
}
.new {
  @include border;
  width: 40%;
  height: 250px;
  margin: 0 20px 0 10px;
  background-color: $color-dark-backing;
}
.old-news {
  @include border;
  width: 95%;
  height: 200px;
  margin: 10px 20px;
  background-color: $color-dark-backing;
}
//////////////////// UNDER CONSTRUCTION ////////////////////
.construction {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
  z-index: 100;
}
.construction-content {
  @include font(18px);
  width: 300px;
  height: 200px;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #b53030;
  border: 3px solid #722323;
  border-radius: 5px;
}
.construction span {
  float: right;
  color: #fff;
  cursor: pointer;
}
