@import 'default-styles';

//////////////////////////////* SIDEBAR SETUP *////////////////////////////////
.left-margin {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.right-margin {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
////////////////////////////* BASE CARD STYLES *///////////////////////////////
.card {
  @include border;
  background-color: $color-body;
  width: 200px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.card-content {
  @include link;
  @include font($font-body);
  width: 100%;

  hr {
    width: 190px;
  }
}
.card-label {
  @include border;
  @include font($font-header);
  background-color: $color-header;
  width: 100%;
  margin: 0;
  border-left: none;
  border-right: none;
  font-weight: bold;

  a {
    color: $color-font-label;
    text-decoration: none;
  }
  .icon {
    float: right;
    margin: 3px;
  }
}
.card-subtitle {
  @include font($font-subtitle);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon {
  color: $color-icon;
  cursor: pointer;
}
////////////////////////////* AVATAR SECTION */////////////////////////////////
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-photo {
  @include border;
  background-color: $color-dark-backing;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.change-avatar {
  @include font(10px);
  color: $color-body;
  background-color: $color-item-hover;
  width: 50px;
  height: 50px;
  margin: 1px;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.avatar-photo:hover .change-avatar {
  visibility: visible!important;
  cursor: pointer;
}
////////////////////////////////* PET SECTION *////////////////////////////////
.pet-photo {
  @include border;
  background-color: $color-dark-backing;
  width: 188px;
  height: 188px;
  margin: 5px;

  img {
    width: 188px;
    height: 188px;
    cursor: pointer;
  }
}
.pet-stats {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 50%;
    margin: 0 2px;
  }
  .stats-left {
    text-align: right;
  }
  .stats-right {
    text-align: left;
  }
}
.green {
  color: $color-health-high!important;
}
.yellow {
  color: $color-health-med!important;
}
.red {
  color: $color-health-low!important;
}
/////////////////////////////* FRIENDS SECTION *///////////////////////////////
.friend {
  @include border;
  background-color: $color-light-backing;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-avatar {
  margin: 0 5px 0 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img, a {
    width: 50px;
    height: 50px;
  }
}
.friend-info {
  background-color: $color-dark-backing;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    @include font(14px);
    margin: 0;

    a {
      color: $color-font-label!important;
    }
  }
}
///////////////////////////////* GAMES SECTION *///////////////////////////////
.games {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.games-item {
  @include border;
  background-color: $color-light-backing;
  margin: 5px;
  padding: 5px 5px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 40px;
    max-height: 40px;
  }
}
/////////////////////////////////* AD SECTION *////////////////////////////////
.ad-space {
  max-width: 200px;
  max-height: 320px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img, a {
    background-color: $color-dark-backing;
    width: 200px;
    height: 135px;
    object-fit: cover;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }
  span {
    @include font(10px);
  }
}
///////////////////////////////* FOOTER SECTION *//////////////////////////////
.footer {
  padding: 5px;
}
