.left-bar {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

.right-bar {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.card {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 200px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: #eee; }

.card-label {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
  margin: 0;
  background-color: #ffcf24;
  border-left: none;
  border-right: none;
  font-size: 16px;
  font-weight: bold; }
  .card-label a {
    color: black;
    text-decoration: none; }
  .card-label .icon {
    float: right;
    margin: 3px; }

.card-content {
  width: 100%;
  font-size: 12px;
  line-height: 18px; }
  .card-content a:link, .card-content a:visited {
    text-decoration: none;
    color: #2a67ac; }
  .card-content a:hover, .card-content a:active {
    color: #d6a800; }
  .card-content hr {
    width: 190px;
    color: #bbb; }

.sub-label {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px !important; }

.icon {
  color: black !important;
  cursor: pointer; }

/* AVATAR SECTION */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center; }

.avatar-photo {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ddd; }

.change-avatar {
  width: 50px;
  height: 50px;
  margin: 1px;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4); }

.avatar-photo:hover .change-avatar {
  visibility: visible !important;
  cursor: pointer; }

/* PET SECTION */
.pet-photo {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 188px;
  height: 188px;
  margin: 5px;
  background-color: #ddd; }
  .pet-photo img {
    width: 188px;
    height: 188px;
    cursor: pointer; }

.pet-stats {
  display: flex;
  align-items: center;
  justify-content: center; }
  .pet-stats div {
    width: 50%;
    margin: 0 2px; }
  .pet-stats .stats-left {
    text-align: right; }
  .pet-stats .stats-right {
    text-align: left; }

.friend {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd; }

.friend-avatar {
  margin: 0 5px 0 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .friend-avatar img, .friend-avatar a {
    width: 50px;
    height: 50px; }

.friend-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc; }
  .friend-info h1 {
    font-size: 14px;
    margin: 0; }
    .friend-info h1 a {
      color: #000 !important; }

.games {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.games-item {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 5px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  font-size: 11px; }
  .games-item img {
    max-width: 40px;
    max-height: 40px; }

.ad-space {
  max-width: 200px;
  max-height: 320px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .ad-space img, .ad-space a {
    width: 200px;
    height: 135px;
    object-fit: cover;
    background-color: #ddd;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888; }
  .ad-space span {
    font-size: 10px; }

.footer {
  padding: 5px; }
