.left-bar {
  width: 31%;
  top: 68px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

.right-bar {
  width: 31%;
  top: 68px;
  left: 69%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.card {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 200px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: #eee; }

.card-label {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
  margin: 0;
  background-color: #ffcf24;
  border-left: none;
  border-right: none;
  font-size: 16px;
  font-weight: bold; }
  .card-label a {
    color: black;
    text-decoration: none; }

.card-content {
  width: 100%;
  font-size: 12px;
  line-height: 18px; }
  .card-content a:link, .card-content a:visited {
    text-decoration: none;
    color: #2a67ac; }
  .card-content a:hover, .card-content a:active {
    color: #d6a800; }
  .card-content hr {
    width: 190px;
    color: #bbb; }

.sub-label {
  margin: 5px;
  font-size: 14px !important; }

.icon {
  color: black !important; }

/* AVATAR SECTION */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center; }

.avatar-photo {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ccc; }

.change-avatar {
  width: 50px;
  height: 50px;
  margin: 1px;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4); }

.avatar-photo:hover .change-avatar {
  visibility: visible !important;
  cursor: pointer; }

/* PET SECTION */
.pet-photo {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 188px;
  height: 188px;
  margin: 5px;
  background-color: #ccc; }
  .pet-photo img {
    width: 188px;
    height: 188px;
    cursor: pointer; }

.pet-stats {
  display: flex;
  align-items: center;
  justify-content: center; }
  .pet-stats div {
    width: 50%;
    margin: 0 2px; }
  .pet-stats .stats-left {
    text-align: right; }
  .pet-stats .stats-right {
    text-align: left; }

.pet-links {
  display: flex;
  align-items: center;
  justify-content: space-around; }
