.header-master {
  background-color: hsl(47deg, 100%, 57%);
  min-height: 50px;
  width: 100%;
  border-bottom: 2px solid hsl(47deg, 100%, 47%);
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container img {
  max-height: 50px;
}
.header-left {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-center {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-right {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation {
  padding: 0 10px;
  font-size: 14px;
}
.navigation i {
  font-size: 18px;
  padding: 0 2px;
}
.navigation a {
  color: black;
  padding: 0 10px;
}
.clock {
  font-size: 14px;
  background-color: hsl(47deg, 100%, 77%);
  padding: 5px;
  border: 1px solid hsl(47deg, 100%, 47%);
  border-radius: 5%;
}
